<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/style.css">

    <title>Waste Management System</title>
</head>
<body>
    <body>


    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">Waste Management System</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="/about" class="nav__link">About</a></li>

                    <li class="nav__item"><a href="/contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="/authority_register" class="nav__link">Authority</a></li>
                    <li class="nav__item"><a href="/user_register" class="nav__link">User</a></li>
                 
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="about-section">
  <h1>About the Developers</h1>
  <br>
  <p>We are students of Sardar Patel Institiute of Technology pursuing our BTech Degree in Computer Engineering.</p>
</div>


<div class="row">
  <div class="column">
    <div class="card">
         <img src="/images/JOY.png" alt="Sahil" style="width:100%">
      <div class="container">
        <h2>Joy Almeida</h2>
        <p class="title">Backend Developer</p>
        <a href="https://github.com/J0SAL">Github</a>
        <p>joy@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     <img src="/images/jeet.jpg" alt="JEET" style="width:100%">
      <div class="container">
        <h2>Jeet Mistry</h2>
        <p class="title">Project Manager</p>
        <a href="https://github.com/jeetmistry">Github</a>
        <p>jeetmistry26@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
        <img src="/images/Sahil.jpeg" alt="Sahil" style="width:100%">
      <div class="container">
        <h2>Sahil Chorghe</h2>
        <p class="title">Frontend developer</p>
        <a href="https://github.com/Sahil222001">Github</a>
        <p>sahil@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>